page-home {

}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-black-background{
      position: absolute;
      background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
      background: rgba(0, 0, 0, 0.5);
      width: 60%;
      height: 40%;
    }
  
    .card-awayTeam {
      position: absolute;
      top: 36%;
      font-size: 1.3em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
    }
  
    .card-homeTeam {
      font-size: 1.3em;
      position: absolute;
      top: 52%;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
    }
  
  }
